datas_full_10k_1.pkl
results
__pycache__
catboost_info
3.ipynb
Learning_to_Rank_From_Pairwise_Approach_to_Listwis.pdf
Catboost_Yeti_model.ipynb
lin_model_1(leakyrelu)_crosentr_from_tabnet 
lin_model_2(leakyrelu)_crosentr_from_tabnet 
model_1
Catboost_Yeti_model.ipynb
cnn.ipynb
ListNet.ipynb
loss and metric for lin_model_1(leakyrelu)_crosentr_from_tabnet.png
loss and metric for lin_model_2(leakyrelu)_crosentr_from_tabnet.png
images
other models and so on
datasets
done experiments data
sd;lkjhjsodfbkmwlk;b copy.ipynb